.sonuc{
    position: relative;

}
.sonuc .sehir{
    margin-top: 20px;
    color: aliceblue;
    font-size: large;
    text-align: center;
}

.sonuc .detay{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}